<p id="notice"><%= notice %></p>

<p>
  <strong>C1lowervalue:</strong>
  <%= @two_criterium.C1lowervalue %>
</p>

<p>
  <strong>C1loweroperator:</strong>
  <%= @two_criterium.C1loweroperator %>
</p>

<p>
  <strong>C1uppervalue:</strong>
  <%= @two_criterium.C1uppervalue %>
</p>

<p>
  <strong>C1upperoperator:</strong>
  <%= @two_criterium.C1upperoperator %>
</p>

<p>
  <strong>C2lowervalue:</strong>
  <%= @two_criterium.C2lowervalue %>
</p>

<p>
  <strong>C2loweroperator:</strong>
  <%= @two_criterium.C2loweroperator %>
</p>

<p>
  <strong>C2uppervalue:</strong>
  <%= @two_criterium.C2uppervalue %>
</p>

<p>
  <strong>C2upperoperator:</strong>
  <%= @two_criterium.C2upperoperator %>
</p>

<%= link_to 'Edit', edit_two_criterium_path(@two_criterium) %> |
<%= link_to 'Back', two_criteria_path %>
