<p id="notice"><%= notice %></p>

<p>
  <strong>R1:</strong>
  <%= @five_result.R1 %>
</p>

<p>
  <strong>R2:</strong>
  <%= @five_result.R2 %>
</p>

<p>
  <strong>R3:</strong>
  <%= @five_result.R3 %>
</p>

<p>
  <strong>R4:</strong>
  <%= @five_result.R4 %>
</p>

<p>
  <strong>R5:</strong>
  <%= @five_result.R5 %>
</p>

<%= link_to 'Edit', edit_five_result_path(@five_result) %> |
<%= link_to 'Back', five_results_path %>
