<p id="notice"><%= notice %></p>

<p>
  <strong>O1:</strong>
  <%= @two_output.O1 %>
</p>

<p>
  <strong>O2:</strong>
  <%= @two_output.O2 %>
</p>

<%= link_to 'Edit', edit_two_output_path(@two_output) %> |
<%= link_to 'Back', two_outputs_path %>
