<p id="notice"><%= notice %></p>

<p>
  <strong>R1:</strong>
  <%= @three_result.R1 %>
</p>

<p>
  <strong>R2:</strong>
  <%= @three_result.R2 %>
</p>

<p>
  <strong>R3:</strong>
  <%= @three_result.R3 %>
</p>

<%= link_to 'Edit', edit_three_result_path(@three_result) %> |
<%= link_to 'Back', three_results_path %>
