<p id="notice"><%= notice %></p>

<p>
  <strong>R1:</strong>
  <%= @two_result.R1 %>
</p>

<p>
  <strong>R2:</strong>
  <%= @two_result.R2 %>
</p>

<%= link_to 'Edit', edit_two_result_path(@two_result) %> |
<%= link_to 'Back', two_results_path %>
