<h1>Combination Tables</h1>
<p></p>
<%= link_to 'Dashboard', '/' %>
<p></p>
<%= link_to 'Two Results', 'two_results#index' %>
<p></p>
<%= link_to 'Three Results', 'three_results#index' %>
<p></p>
<%= link_to 'Four Results', 'four_results#index' %>
<p></p>
<%= link_to 'Five Results', 'five_results#index' %>
<p></p>
<%= link_to 'Six Results', 'six_results#index' %>