<h1>Criteria Tables</h1>
<p></p>
<%= link_to 'Dashboard', '/' %>
<p></p>
<%= link_to 'Two Criteria', 'two_criteria#index' %>
<p></p>
<%= link_to 'Three Criteria', 'three_criteria#index' %>
<p></p>
<%= link_to 'Four Criteria', 'four_criteria#index' %>
<p></p>
<%= link_to 'Five Criteria', 'five_criteria#index' %>
<p></p>
<%= link_to 'Six Criteria', 'six_criteria#index' %>