<h1>Results Tables</h1>
<p></p>
<%= link_to 'Dashboard', '/' %>
<p></p>
<%= link_to 'Two Result Outputs', 'two_outputs#index' %>
<p></p>
<%= link_to 'Three Result Outputs', 'three_outputs#index' %>
<p></p>
<%= link_to 'Four Result Outputs', 'four_outputs#index' %>
<p></p>
<%= link_to 'Five Result Outputs', 'five_outputs#index' %>
<p></p>
<%= link_to 'Six Result Outputs', 'six_outputs#index' %>